@font-face {
    font-family: 'Outfit';
    src: url('../assets/font/Outfit-VariableFont_wght.ttf') format('opentype');
}
  
* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
}

body, html {
    background-color: black;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

.div-mensagem {
    padding: 5px;
    width: 150px;
    background-color: white;
    border: 3px solid #416ae5;
    position: absolute;
    top: 20px;
    left: 45%;
    z-index: 2;
    display: none;
    text-align: center;
}


.seta {
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 30px;
    color: white;
    border: none;
    background-color: transparent;
}

.fio-esquerdo, .fio-direito {
    background-image: url("../assets/img/fios.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 30%;
}

main {
    width: 70%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

main > .area-cadastro {
    width: 130%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    z-index: 1;
}

main > .area-cadastro > .dados-cadastros {
    width: 54%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-logo {
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 75px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-top: -25px;
    margin-bottom: 10px;
    transition: ease .3s;
}

.imagem-logo:hover {
    scale: 1.05;
}

.imagem-logo > img {
    width: 100px;
}

a {
    text-decoration: none;
}

main > .area-cadastro > .dados-cadastros > .area-titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

main > .area-cadastro > .dados-cadastros > h1 {
    font-size: 40px;
}

.div-planos {
    display: none;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.div-planos > button{
    background-color: white;
    border: 2px solid #416ae5;
    color: black;
    font-weight: 700;
    margin: 20px 0 ;
}

.bt-plano {
    display: none;
    box-shadow: 0px 0px 3px #44a5ff;
    overlay: none;
    border-radius: 6px;
    height: 35px;
    width: 140px;
    font-size: 15px;
    transition: ease 3s;
}

.pl {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: relative;
    width: 100px;
    border-radius: 5px;
    padding: 3.5px 2px;
    box-shadow: 0px 0px 2px #416ae5;
    z-index: 2;
    transition: cubic-bezier(0.57, 0.52, 0, 1.5) .5s;
}

main > .area-cadastro > .dados-cadastros > .formulario {
    width: 80%;
}

main > .area-cadastro > .dados-cadastros > div > label {
    display: grid;
    margin: 10px 0;
    font-size: 19px;
    font-weight: 800;
}

main > .area-cadastro > .dados-cadastros > div > label > input {
    padding: 9px;
    font-size: 15px;
    border: 2px solid #416ae5;
    min-width: 95px;
    outline: #416ae5;
    box-shadow: 0px 0px 3px #416ae5;
}

.olho {
    cursor: pointer;
    user-select: none;
}

.row2 {
    grid-row: 2;
}

.lbl-senha {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 0px;
    align-items: center;
}


.btn-login {
    color: black;
}

.btn-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 10px;
    font-size: 17px;
    font-weight: 700;
    background-color: white;
    border: 2px #416ae5 solid;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.582);
}

button:hover, .btn-login:hover {
    scale: 1.05;
    transition: ease .4s;
    cursor: pointer;    
}

button > img {
    width: 20px;
    margin-right: 10px;
}

.btn-cadastrar {
    background-color: black;
    color: white;
    border: black;
    margin-top: 10px;
}

.slack-google {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.slack-google > button {
    width: 190px;
}

.btn-slack > img {
    margin-left: -20px;
}

span {
    display: block;
    font-weight: 600;
    color: gray;
    margin: 10px;
}

.side-imagem {
    width: 43%;
    height: 100%;
    background-image: url('../assets/img/imagem-cadastro.png');
    background-position: center;
    background-size: cover;
    border-radius: 18px;
    box-shadow: 0px 0px 10px  black;
    overflow: hidden;
}

.side-imagem > img {
    width: 100%;
    height: 100%;
    opacity: 0.16;
    transition: ease 1.2s;
}

.side-imagem:hover > img {
    opacity: 0.4;
} 


/*Começo do código do Guilherme*/

 .esconder-endereco{
    display: none;
 }



 .slack-google-mobile{
    display: none;
}

.esconder-ou-mobile{
    display: none;
}
 

@media (max-width: 600px) {

 body, html {
    height: 180vh;
 }

 main {
    flex-direction: column;
 }

.imagem-logo {
    margin-top: 15px;
    margin-bottom: unset;
}

.pl {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 324px;
    left: calc(40vw + 10px);
    width: 100px;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0px 0px 2px #416ae5;
    z-index: 2;
    transition: cubic-bezier(0.57, 0.52, 0, 1.5) .5s;
}

 span{
    margin: 10px;
 }

.esconder-endereco{
    display: block;
}

.esconder-ou-desk{
    display: none;
}

.esconder-ou-mobile{
    display: block;
}

.area-cadastro > .side-imagem{
    display: none;
}

main > .area-cadastro > .dados-cadastros{
    width: 80%;
}

.dados-cadastros div{
    flex-direction: column;
}

main > .area-cadastro > .dados-cadastros > div > label > input{
    width: 55vw;
}

main > .area-cadastro{
    width: 100%;
    height: unset;
    flex-direction: column;
}

.slack-google{
    display: none;
}

.slack-google-mobile{
    display: block;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

button, .btn-login {
    width: 40%;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px #416ae5 solid;
}

button img{
    width: 25%;
}

}