.name-chart-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 94.6%;
    height: 83%;
}

.name-content{
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    width: 100%;
    height: 4%;
}

.chart-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.graficos1-content{
    background-color: white;

    width: 41%;
    height: 97.1%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.graficos1-content > h3 {
    text-align: center;

    width: 80%;
}

.chart_first {
    height: 80%;
    width: 100%;
}

.graficos2e3-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 58%;
    height: 97.1%;
}

.graficos2-content{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    height: 50%;
}

.graficos3-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    width: 100%;
    height: 48%;

    padding: 10px 20px;
    
    background-color: white;
}

.header_graficos3 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: max-content;
}

.header_graficos3 > i {
    font-size: 20px;
}

.container_graficos3 {
    text-align: center;

    width: 100%;
    height: 100%;
}

.chart-horizontal {
    height: 90%;
    width: 100%;
}

.container_kpi3 {
    width: 40%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 10px;

    border-radius: 10px;
    background-color: #449ADE9f;
}

.container_kpi3 > span {
    margin-bottom: 10px;

    font-weight: 600;
}

.container_kpi3 > span {
    margin-bottom: 10px;

    font-weight: 600;
}

.container_kpi3 > p > .relatorio {
    font-weight: 700;

}

.graficos2_1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 54.5%;
    height: 100%;
    
    padding: 5px;

    background-color: white;
}

.graficos2_1-content > h3 {
    margin-bottom: 10px;
}

.graficos2_1-content > .container_chart2 {
    height: 85%;
    width: 95%;
}

.graficos2_2-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 44%;
    height: 100%;
    
    background-color: white;
}

.graficos2_2-content > h3 {
    text-align: center;

    margin: 10px 0 5px 0;

    width: 100%;
}

.campo_componetes {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.campo_componetes > i {
    margin: 0 5px;

    font-size: 20px;

    transition: .3s ease;
}

.info_componentes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
}

.lista_comparacao {
    display: flex;
    flex-direction: column;

    margin-top: 15px;

    width: 90%;
    height: 40%;
}

.lista_comparacao > li {
    width: 100%;

    list-style: none;

    display: flex;
    align-items: center;
}

.lista_comparacao > li > .componente {
    width: 52px;
}

.lista_comparacao > li > .colunas_status {
    display: flex;
    justify-content: space-between;

    width: 76%;
}

.lista_comparacao > li > .colunas_status > div {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
}

.lista_comparacao > li > .colunas_status > .col_ruim {
    color: #F2274C;

    width: 50px;
    height: 30px;
}

.lista_comparacao > li > .colunas_status > .col_medio {
    color: #F2AB27;

    width: 50px;
    height: 30px;
}

.lista_comparacao > li > .colunas_status > .col_bom {
    color: #449ADE;

    width: 50px;
    height: 30px;
}

.titulos_status {
    display: flex;
    align-items: center;

    margin: 15px 0;
    
    width: 100%;
}

.titulos_status > img {
    width: 30px;
    margin: 0 20px;
}

.status {
    display: flex;
    justify-content: space-between;

    font-weight: 600;
        
    width: 65%;
}

.status > p > span {
    display: block;

    width: 100%;
    height: 2px;

    border-radius: 2px;
}

.status_quente {    
    background-color: #F2274C;
}

.status_medio {
    background-color: #F2AB27;
}

.status_normal {
    background-color: #449ADE;
}

.bg {
    position: absolute;

    width: 100%;
    height: 100%;

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 2;

    background-color: rgba(0, 0, 0, 0.413);
    backdrop-filter: blur(10px);
}

.bg > .pop {
    padding: 20px 30px;
    
    line-height: 1.5;

    width: 350px;

    display: none;

    border-radius: 20px;
    border: 3px solid #449ADE;

    background-color: white;
}

/*código do Guilherme*/