.name-content {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content-dash-report {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: hidden;
}

.content {
    width: 100%;
    height: 95%;
    background-color: #36334f;
    box-shadow: 0 0px 8px 2px;
    display: flex;
    padding: 1%;
}


.left-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.left-content h2 {
    margin-bottom: 10px;
    color: #fff;
}

.todas-maquinas {
    background-color: #374354;
    border-radius: 5px;
    box-shadow: inset 0 0 8px 0 #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 94%;
    overflow-y: auto;
    padding: 10px;
}

.maquina-card {
    align-items: center;
    background-color: #062a36;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 #000;
    display: flex;
    padding: 10px;
    height: 90px;
}

.maquina-card .fa-computer {
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}

.info-pc {
    color: #fff;
    font-size: 18px;
    width: 25%;
    flex: 1;
}

.info-pc h6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.garbage,
.pencil {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: #fff;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.garbage {
    background-color: #961c1c;
    margin-right: 5px;
}

.pencil {
    background-color: #356867;
}

.garbage i,
.pencil i {
    font-size: 14px;
}

.garbage i:hover,
.pencil i:hover {
    scale: 1;
    color: #fff;
}

.right-content {
    border-left: 1px #fff solid;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    width: 70%;
}

.right-content h2 {
    margin-bottom: 5px;
    color: #fff;
}

.inp-switch-div {
    align-items: center;
    display: flex;
    gap: 10px;
    color: #fff;
}

.inp-switch-div span {
    font-size: 14px;
}

.switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
}

.switch input {
    height: 0;
    opacity: 0;
    width: 0;
}

.slider {
    background-color: #ccc;
    border-radius: 20px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: white;
    border-radius: 50%;
    bottom: 3px;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 14px;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.cadastro-ips,
.machine-details {
    background-color: #203346;
    padding: 5px;
}

.cadastro-ips {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 -2px 6px 0 #000;
    z-index: 1;
    border-bottom: #ffffff 2px solid;
}

.machine-details {
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 6px 0 #000;
    z-index: 0;
}

.ipv4-1 input,
.ipv4-2 input,
.machine-details input {
    background-color: #122436;
    border: 1px solid #57667a;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 25px;
}

.ipv4-1 input:focus,
.ipv4-2 input:focus,
.machine-details input:focus {
    border-color: #3498db;
    outline: none;
}

.ipv4-1 label,
.ipv4-2 label,
.machine-details label {
    color: #fff;
    font-size: 14px;
    margin-bottom: 2px;
}

.machine-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-actions {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

.form-actions .btn {
    background-color: #3498db;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.form-actions .btn.save:hover {
    background-color: #2980b9;
}

.form-actions .btn.reset {
    background-color: #e74c3c;
}

.form-actions .btn.reset:hover {
    background-color: #c0392b;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #333;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    margin-top: 20px;
    text-align: left;
    color: #555;
    margin-bottom: 10px;
}

input[type="password"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2184b9;
}

.consequences {
    text-align: left;
}

.consequences h3 {
    color: #333;
    margin-bottom: 10px;
}

.consequences ul {
    list-style-type: none;
    padding: 0;
}

.consequences ul li {
    color: #555;
    margin-bottom: 5px;
}

.invalid-field {
    border: 2px solid #ff0000 !important;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.ipv4-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.ipv4-popup-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.ipv4-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
}

h2 {
    margin-top: 0;
    color: #333;
}

ol {
    padding-left: 20px;
    color: #333;
}

ul {
    padding-left: 20px;
}

kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 90%;
}

#btn_vlt{
    background-color: #21b935;
    display: none;
}
.usuarios-lista {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 5px;
    position: absolute;
    width: calc(25% - 2px);
     z-index: 999;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.usuarios-lista li {
    padding: 10px;
    cursor: pointer;
}

.usuarios-lista li:hover {
    background-color: #f0f0f0;
}

