
.content-report-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-right: 1px solid #fff;
}

.content-report-left h4 {
    color: #fff;
}

.content-report-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    gap: 2%;
}

.content-report-right h4 {
    color: #fff;
}

.pdf-content {
    width: 600px;
    max-width: 90%;
    height: auto;
    display: flex;
    background-color: #ffffff;
    box-shadow: inset #000 0 0 4px 0;
    border-radius: 0.3rem;
    padding: 2%;
    margin-top: 20px;
    overflow-x: hidden;
    position: relative;
    
}

.pdf {  
    margin-left: 5.95%;
    transition: transform 0.5s ease-in-out;
    display: flex;
    gap: 100px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control.prev {
    left: 5px; 
}

.carousel-control.next {
    right: 5px;
}
.info-form {
    color: #fff;
    margin: 3%;
    width: 90%;
    height: 10%;
    display: flex;
    gap: 12%;
    margin-top: 5%;
    align-self: flex-start;
    justify-self: flex-start;
    flex-direction: column;
}

.actions {
    width: 90%;
    align-self: center;
    display: flex;
    color: #fff;
    flex-direction: column;
    margin: auto;
}

.div-button-action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-button-action button {
    margin-top: 10px;
    width: 20%;
    height: 40px;
    font-size: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    gap: 5px;
    border-radius: 0.5em;
    background-color: #3663a7;
    color: #fff;
    box-shadow: #000 0 0 8px 0;
    border: none;
    font-weight: 700;
}

.div-button-action button i {
    font-size: 15px;
}

.name-content{
    width: 100%;
    justify-content: space-between;
}

.tabs{
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 2%;
    height: 100%;
}

.tabs button{
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    width: 40%;
    z-index: 1;
    background-color: #36334f;
    color: #fff;
    font-size: 10px;
    border: none;
}

.tabs button[value="activate"] {    
    pointer-events: auto;
}

.tabs button[value="activate"]:hover {    
    scale: 1;
}

.tabs button[value="disable"] {
    box-shadow: inset #000 0 -2px 5px 0;
    cursor: pointer;
}

#tab_1{
    display: flex;
}
#tab_2{
    display: none;
    min-height: 90%;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    gap: 5px;
}
#tab_2 h4{
    color: #fff;
}
.informacoes-usuario{
    width: 100%;
    display: flex;
    height: 35%;
    gap: 4%;
    align-items: center;
}
.img-container{
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    background-color: red;
}
.img-container img{
    width: 140px;
    height: 140px;
}
.info-user-resp{
    height: 80%;
    color: #fff;
    width: 20%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.div-tab-table{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #24213a;
    box-shadow: inset #000 0 0 6px 0;
    flex-direction: column;
    padding: 5px;
    border-radius: 0.4rem;
}

.div-tabs{
    width: 70%;
    display: flex;
    height: 20px;
}

.div-tab-table button{
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    width: 10%;
    z-index: 1;
    background-color: #36334f;
    color: #fff;
    font-size: 8px;
    border: none;
    height: 100%;
    margin-top: 2px;
}

.div-tab-table button[value="activate"] {    
    pointer-events: auto;
}

.div-tab-table button[value="activate"]:hover {    
    scale: 1;
}

.div-tab-table button[value="disable"] {
    box-shadow: inset #000 0 -2px 5px 0;
    cursor: pointer;
}
.div-tab-tables{
    width: 100%;
    background-color: #36334f;
    z-index: 2;
    height: auto;
    border-radius: 0.4rem;
}
.container-table{
    flex-direction: column;
    width: 100% !important;
    height: auto; 
    padding: 5px;
}
.tabulator{
    width: 100%;
    height: auto;
}
.tabulator button{
    clip-path: none;
    background-color: #587489 !important;
    color: #9bb2f0 !important;
}
.actions-table{
    width: 100%;
    display: flex;
    gap: 2%;
    height: 50px;
    align-items: center;
    padding: 5px;
}
.actions-table button{
    clip-path: none;
    background-color: #449ade;
    box-shadow: #000 0 0 8px 0;
    border-radius: 0.4rem;
    height: 70%;
    cursor: pointer;
}
.tabulator .tabulator-col-content{
    background-color: #24213a;
    color: #fff;
    text-align: center;
}
.tabulator .tabulator-cell:nth-child(1){
    background-color: #3f3b5e;
    color: #fff;
    border: 1px solid #514c79;
    text-align: center;
}
.tabulator .tabulator-cell:nth-child(3), .tabulator-cell:nth-child(5){
    background-color: #272539;
    color: #fff;
    border: 1px solid #2e2b46;
    text-align: center;
    text-align: center;
}
.tabulator .tabulator-footer .tabulator-footer-contents{
    background-color: #24213a;
    color: #fff;
    
}
.div-grafico{
    display: flex;
    width: 500px;
}
.div-grafico canvas{
    width: 500px;
}