@font-face {
  font-family: 'Outfit';
  src: url('../assets/font/Outfit-VariableFont_wght.ttf') format('opentype');
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit';
}

a {
  font-family: sans-serif;
  text-decoration: none;
}

.header {
  background: black;
  padding-inline: 16px;
  height: 120px;
}


body {
  background-color: black;
  height: 100%;
  /* Adicionamos esta linha */
}

.logo-container {
  background-image: url('../assets/img/logofundo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-left: 4%;
  margin-right: 20px;
  display: block;
}

.a-nav {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.a-nav > p {
  position: relative;
  left: -10px;
}

.nav {
  max-width: 1280px;
  height: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-login {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.div-perfil{
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.header > nav > div > a:nth-child(1) {
    background-color: #416ae5;
    padding: 5px;
    border-radius: 5px;
}

.header > nav > div > .button-perfil:nth-child(1) {
  background-color: #416ae5;
  padding: 5px 20px;
  border-radius: 5px;
}

.header > nav > div > a:nth-child(1):hover {
    scale: 1.05;
}

.header > nav > div > a:nth-child(2):hover {
    scale: 1.07;
}

.header > nav > div > a {
  color: white;
  justify-content: space-between;
  transition: ease 0.3s;
}

.login-mobile {
  display: none;
}

.logo {
  font-size: 48px;
  color: white;
  margin-top: auto;
  margin-top: 30px;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
  z-index: 1;
}

.nav-list a {
  font-size: 18px;
  color: #fff;
  padding-block: 16px;
}

.hero {
  height: 100vh;
  background: center / cover no-repeat url("../assets/img/banner.jpg");
}

.title {
  font-family: sans-serif;
  font-size: 60px;
  color: white;
  text-align: center;
  margin-top: -650px;
  text-align: left;
  margin-left: 20%;
}

.caixa-titlewhy {
  margin-top: 10vw;
}

.titlewhy {
  font-family: sans-serif;
  font-size: 70px;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  bottom: 10px;
  text-align: center;
  margin-top: 200px;
}


.texto-porque-escolher {
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  transition: all 0.6s ease-in-out;
}

.container-planos {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  height: 600px;
}

.carrossel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.5s;
}

.box-planos {
  position: relative;
  /* Adiciona posição relativa para .box-planos */
  width: 300px;
  height: 350px;
  background-color: #416AE2;
  box-sizing: border-box;
  margin: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 10px;
  text-align: center;
}

.box-planos h1 {
  margin-top: -150px;
}

.box-planos > ul {
  width: 90%;
}

.fundobox {
  position: absolute;
  bottom: 10px;
  width: 200px;
  height: 40px;
  background-color: #47BDFF;
  margin-top: -50px;
  display: inline-block;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
}

.fundobox h1 {
  color: white;
}


.fundobox:hover {
  background-color: #0056b3;
}





.box-planos,
.box-planos * {
  color: #ffffff;
}

.box-planos h2 {
  margin-bottom: 10px;
  /* Adiciona espaço abaixo do preço */
}

.box-planos h1 {
  margin-top: -80px;
  /* Adiciona espaço do topo */
}

.custom-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: 1px solid #0056b3;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20%;
}

.custom-button:hover {
  background-color: #0056b3;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
}

.box {
  width: 300px;
  height: 250px;
  background-color: #416AE2;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 20px;
  margin: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.box img {
  max-width: 50%;
  max-height: 500%;
  margin-top: 10px;
}

.box p {
  font-family: sans-serif;
  max-width: 100%;
  color: white;
  margin-top: 10px;
}

.box.seguranca p {
  color: #416AE2;
}


.box:nth-child(2) {
  background-color: black;
  border: 2px solid #416AE2;
}

.black-background-image {
  position: absolute;
  top: 100%;
  left: 0;
  width: 20%;
  height: 120vh;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/img/fios.png');
  background-repeat: no-repeat;
  z-index: -1;
}


.black-background-image.right {
  left: auto;
  right: 0;
  background-image: url('../assets/img/fios.png');
  display: none;
  justify-content: start;
}

.sobre-nos-completo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre_nos {
  background-image: url('../assets/img/sobre_nos.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.title_sobre_nos {
  font-family: sans-serif;
  font-size: 60px;
  color: white;
  margin: 0;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.texto-background-sobre-nos {
  display: flex;
    margin: 0; 
    padding: 0; 
  }
  

.texto-sobre-nos {
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
  line-height: 1.5;
  margin-left: 30%;
  margin-right: 15%;
  width: 53%;
  height: 25%;
}

.background-image-sobre-nos {
  background-image: url('../assets/img/fios.png');
  top: 100%;
  left: 0;
  width: 20%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  align-self: flex-end;
}

.box-imagem-analistas {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sobre-nos-imagem-analistas {
  background-image: url('../assets/img/imagem-analistas.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 72%;
  border-radius: 35px;
  align-self: center;
  position: relative;
  /* top: 3600px; */
}

/* NOSSA EQUIPE */

.background-color-nossa-equipe {
  background-color: rgba(64, 64, 184, 0.692);
  clip-path: polygon(48.3% 0%, 48.3% 0%, 100% 15%, 100% 85%, 47.9% 100.3%, 48% 100.3%, 0% 85%, 0% 15%);
  height: 600px;
}

.h1-nossa-equipe {
  color: white;
  font-family: sans-serif;
  font-size: 60px;
  text-align: center;
}

.carrossel-nossa-equipe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 400px;
  transition: all ease-in-out 0.5s;
}

.fotos-nossa-equipe {
  width: 15vw;
  min-width: 50px;
}

.box-nossa-equipe {
  position: relative;
  width: 300px;
  height: 350px;
  box-sizing: border-box;
  margin: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  border: solid 5px firebrick;
}

.fundobox-nossa-equipe {
  position: absolute;
  bottom: 10px;
  width: 200px;
  height: 40px;
  background-color: white;
  margin-top: -50px;
  border: solid 5px forestgreen;
}

.container-nossa-equipe {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  height: 600px;
  overflow: hidden;
  
}


@media screen and (max-width: 1290px) {
  /* .sobre-nos-imagem-analistas {
    top: 555%;
  } */
}


@media screen and (max-width: 1040px) {
  .texto-porque-escolher {
    font-size: 150%;
  }

  .carrossel {
    margin: 0;
  }

  .carrossel-nossa-equipe {
    margin: 0;
  }

  .container-planos {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .container-planos .box-planos {
    width: 25%;
    height: 400px;
    font-size: 15px;
    margin: 0 auto;

  }

  .container-planos .fundobox {
    width: 80%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container-planos .fundobox h2 {
    margin: 0 auto;
  }

  .texto-porque-escolher {
    font-size: 150%;
  }

  /* .sobre-nos-imagem-analistas {
    top: 4060px;
  } */

  .texto-sobre-nos {
    text-align: center;
    width: 80%;
  }

  .nossa-equipe-completo {
    margin-top: 40px;
  }

  .container-nossa-equipe {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    gap: 2%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .container-nossa-equipe .box-nossa-equipe {
    width: 25%;
    height: 300px;
    font-size: 15px;
    margin: 0 auto;

  }

  .container-nossa-equipe .fundobox-nossa-equipe {
    width: 80%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container-nossa-equipe .fundobox-nossa-equipe h2 {
    margin: 0 auto;
  }


  @media screen and (max-width: 800px) {
    .texto-porque-escolher {
      font-size: 125%;
    }

    /* .sobre-nos-imagem-analistas {
      top: 4500px;
    } */

    .background-color-nossa-equipe {
      margin-top: 70px;
    }
  }

  @media screen and (max-width: 897px) {
    .sobre-nos-imagem-analistas {
      top: 610%;
    }

    .texto-sobre-nos {
      width: 60%;
      font-size: 27px;
    }
  }

  @media screen and (max-width: 672px) {
    .texto-porque-escolher {
      font-size: 110%;
    }

    .title {
      font-size: 40px;
      text-align: center;
      margin-left: 0;
      margin-bottom: 100px;
      transition: ease 1s;
    }

  }
}

@media screen and (max-width: 710px) {
  .container-planos {
    width: 100%;
    gap: 5%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    max-width: 710px;
  }

  .carrossel {
    width: 200%;
    gap: 5%;

  }

  .carrossel-nossa-equipe {
    width: 200%;
    gap: 5%;

  }

  .container-nossa-equipe {
    width: 100%;
    gap: 5%;
    display: flex;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 710px;
  }

  #card_premium,
  #card_best {
    opacity: 0.5;
    filter: blur(5px);
    scale: 0.9;
    cursor: pointer;
  }


  .container-planos .box-planos {
    font-size: 15px;
    margin: 0 auto;
    height: 500px;
    width: 450px;
    transition: all ease-in-out 0.5s;
  }

  .box-planos h2 {
    font-size: 25px;
  }

  .box-planos h2:nth-child(1) {
    margin-top: 20px;
  }

  .box-planos h2:nth-child(2) {
    margin-bottom: 20px;
  }

  .box-planos ul {
    width: 80%;
  }

  .container-planos .fundobox {
    width: 80%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container-planos .fundobox h2 {
    margin: 0 auto;
  }

  .container-nossa-equipe .box-nossa-equipe {
    font-size: 15px;
    margin: 0 auto;
    height: 300px;
    width: 450px;
    transition: all ease-in-out 0.5s;
  }

  .container-nossa-equipe .fundobox-nossa-equipe {
    width: 80%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container-nossa-equipe .fundobox-nossa-equipe h2 {
    margin: 0 auto;
  }

  /* SOBRE NÓS */


  .sobre_nos {
    background-image: url('../assets/img/imagem_programando.jpg');
  }

  .texto-sobre-nos {
    margin: 0;
    margin-left: 7px;
    width: 80%;
  }

  .background-image-sobre-nos {
    margin-top: 350px;
    width: 20%;
  }

  .background-image-sobre-nos-left {
    background-image: url('../assets/img/fios.png');
    background-repeat: no-repeat;
    background-size: cover;
    top: 100%;
    left: 0;
    width: 15%;
    height: 120vh;
    background-position: center;
  }

  .sobre-nos-imagem-sobre-nos {
    background-image: url('../assets/img/sobre_nos.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 290px;
    width: 88%;
    border-radius: 35px;
    align-self: center;
    position: relative;
    bottom: 300px;
    margin-top: 30px;
    margin-right: 18px;
  }

  .sobre-nos-imagem-analistas {
    margin-left: 30%;
    /* position: absolute; */
    height: 290px;
    width: 58%;
    /* top: 4620px; */
  }

  .background-color-nossa-equipe {
    background-color: rgba(64, 64, 184, 0.692);
    clip-path: polygon(48.3% 0%, 48.3% 0%, 100% 15%, 100% 85%, 47.9% 100.3%, 48% 100.3%, 0% 85%, 0% 15%);
    height: 600px;
  }

  .h1-nossa-equipe {
    color: white;
    font-family: sans-serif;
    font-size: 60px;
    text-align: center;
  }

}

@media screen and (max-width: 600px) {


  .carrossel-planos h1 {
    color: white
  }

 
  .box {
    width: calc(50% - 20px);
    margin-right: 20px;
    margin-left: 20px;
  }

  /* SOBRE NOS */

  .sobre-nos-imagem-sobre-nos {
    top: 410%;
  }

  .sobre-nos-imagem-analistas {
    top: 450%;
  }


  /*Coloca em outro @media vai ajustando até ficar bom*/

  .black-background-image.right {
    left: auto;
    right: 0;
    background-image: url('../assets/img/fios.png');
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .box {
    width: calc(100% - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 595px) {
  .sobre-nos-imagem-sobre-nos {
    top: 398%;
  }

  .sobre-nos-imagem-analistas {
    top: 433%;
  }

  .h1-nossa-equipe {
    margin-top: 20px;
  }
}

@media screen and (max-width: 579px) {
  .sobre-nos-imagem-sobre-nos {
    top: 409%;
  }

  .sobre-nos-imagem-analistas {
    top: 446%;
  }
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
  z-index: 10;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
  z-index: 10;
}

@media (max-width: 600px) {
  .hamburger {
    display: block;
    z-index: 10;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }

  .div-login {
    display: none;
  }
  .div-login > a{
    display: none;
  }

  .login-mobile {
    display: flex;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
    z-index: 10;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
    z-index: 10;
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

/*Começo do código do Guilhereme*/

/*Display none nome da empresa mobile*/

.footer-nome-empresa-mobile {
  display: none;
}

.footer-barrinha-horizontal-mobile {
  display: none;
}

/*Todos os inputs são iguais então deixei genérico*/
textarea {
  resize: none;
  color: black;
  font-size: 18px;
  height: 7%;
  width: 90%;
  border: 2px solid #416ae5;
}

.textarea-mensagem {
  height: 33%;
  width: 90%;
}

/*Criação da caixa de contato conosco*/

.caixa-contato {
  width: 65%;
  height: 100%;
  margin: 0 17.5% 10% 17.5%;
  border-radius: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.separacao-img-contato {
  width: 95%;
  height: 95%;
  margin: 2.5% 2.5% 2.5% 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.caixa-contato-textareas-enviar {
  width: 55%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caixa-contato-enviar {
  width: 90%;
  height: 12%;
  display: flex;
  flex-direction: row-reverse;
}

.botao-enviar {
  width: 40%;
  height: 30px;
  border: none;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.caixa-contato-textareas {
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 20px;

}

.caixa-contato-img {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.caixa-contato img {
  width: 100%;
}



/*Fim da caixa de contato conosco*/



/*barrinhas do footer*/
.footer-barrinha {
  height: 96px;
  width: 1px;
  background-color: black;
}

.footer-barrinha-horizontal {
  height: 1px;
  width: 100%;
  background-color: black;
}

.footer-barrinha-horizontal-mobile {
  height: 1px;
  width: 100%;
  background-color: black;
}

/*Criação do footer*/

footer {
  width: 100%;
  padding-bottom: 2%;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
}

.caixa-footer {
  width: 80%;
  margin: 0 10% 0 10%;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
}

.footer-cima {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


/*Arrumar o nome da empresa no footer*/
.footer-cima .footer-nome-empresa {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

/*Parte de info da empresa no footer*/
.footer-cima .footer-info-empresa {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-cima .footer-info-empresa h2 {
  font-size: 25px;
}

.footer-cima .footer-info-empresa div {
  font-size: 16px;
  font-weight: 600;
}


.footer-baixo {
  width: 100%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-baixo div {
  font-weight: bold;
}

.footer-baixo div img {
  width: 17%;
}

.footer-titulo-mobile{
  display: none;
}




@media (max-width: 840px) {

  .footer-barrinha,
  .footer-nome-empresa {
    display: none;
  }

  .footer-cima .footer-nome-empresa-mobile {
    display: flex;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin: 3% 0 3% 0;
  }

  .footer-cima .footer-info-empresa h2 {
    font-size: 18px;
    margin-bottom: 3%;
  }

  .footer-cima {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
  }

  .footer-barrinha-horizontal-mobile {
    display: block;
    font-weight: normal;
  }

  .nossa-equipe-completo {
    margin-top: 50px;
  }

  
  .footer-titulo-desk{
    display: none;
  }

  .footer-titulo-mobile{
    display: block;
  }

}

@media (max-width: 1024px) {
  .caixa-contato-img {
    display: none;
  }

  textarea,
  .textarea-mensagem {
    width: 99%;
  }

  .carrossel-nossa-equipe {
    height: 100%;
  }

  .caixa-contato {
    width: 70%;
    height: 100%;
    margin: 0 15% 10% 15%;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .caixa-contato-textareas {
    width: 90%;
  }

  .caixa-contato-textareas h1 {
    display: none;
  }

  .caixa-contato-textareas-enviar {
    width: 100%;
    align-items: center;
  }

  .caixa-contato-img {
    display: none;
  }

  .aparecer-contatos{
    display: none;
    flex-direction: column;
    transition: ease-in-out 2s;
  }
  
  .aparecer-solucoes{
    display: none;
    flex-direction: column;
    transition: ease-in-out 2s;
  }
}